.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: none;
}

.page {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;


}

.btns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 30%;
  margin: 0 auto;
  margin-top: 3rem;
}


.btn {
  border-radius: 5px;
  min-width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  background: none;
  cursor: pointer;
  padding: 0 0.5rem;
}

.theme-btn {
  border: 0.1rem solid blueviolet;
  background: none;
  color: blueviolet;
}

.theme-btn:hover {
  border: 0.1rem solid blueviolet;
  background: blueviolet;
  color: white
}

.danger-btn {
  border: 0.1rem solid #f5494a;
  background: #f5494a;
  color: white
}

.message {
  display: flex;
  position: fixed;
  top: 7.5rem;
  height: 2rem;
  min-width: 15rem;
  text-align: center;
  align-items: center;
  padding: 1rem;
  font-weight: 900;
  justify-content: center;
  color: rgb(13, 12, 12);
  right: -100%;
  transition: 0.5s right ease;
  border-radius: 10px;


}

.message.show {
  right: 1rem;
}

.success {
  border: 2px solid rgb(27, 176, 27)
}

.failure {
  border: 2px solid rgb(229, 59, 59);
}